.DS_Store
._*

# Python package

.python-version
.venv

__pycache__
*.py[cod]
*$py.class
.mypy_cache
.vscode

*.egg
*.egg-info
.coverage
.pytest_cache
.ruff_cache
.tox
build
dist
htmlcov
test-reports

# Docs

docs/_build
docs/_static
docs/_templates
