[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
carbonize = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
flake8-mypy = "*"
pypdf2 = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
twine = "*"
